extends ../layout
include ../events_list.jade

block title
	if (type == 'architecture')
		title= __('АРХИТЕКТУРА')
	else
		title= __('ДИЗАЙН')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/works.css' + version)
	if (type == 'design')
		link(rel='stylesheet', type='text/css', href='/build/css/design.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/works.js')

	- var directionArray = [];
	- var tagsObject = '';
	- var key;
	- var uncategorized = locale === 'ru' ? 'Без категории' : 'Uncategorized';
	- tagsObject = '\'' + uncategorized.replace(/ /g, "_").toLowerCase() + '\': \'' + uncategorized + '\'';

		each subsidiary, i in subsidiarys
			- key = subsidiary.i18n.title.get(locale) ? '\'' + subsidiary.i18n.title.get(locale) + '\'' : '\'' + uncategorized + '\'';
			- directionArray.push(key.replace(/ /g, "_").toLowerCase());
			- tagsObject = tagsObject + ', ' + key.replace(/ /g, "_").toLowerCase() + ': ' + key + '';

	- directionArray.unshift('\'' + uncategorized.replace(/ /g, "_").toLowerCase() + '\'');

	script='var direction = ['+ directionArray +']'
	script='var tagsArray = {'+ tagsObject + '}'

block content

	.content_block_inner
		.works_block.works_big
			+eventsList(events)


		.works_tags_sort_block
			if (locale == 'ru')
				.sort_item.clear Все
				.sort_item.tags По категориям
				.sort_item.year По годам
				.sort_item.archive Архив
			else
				.sort_item.clear All
				.sort_item.tags By category
				.sort_item.year By year
				.sort_item.archive Archive