.content_block_inner
	max-width 1240px
	margin 0 auto
	min-width 400px

.menu_items
	a
		&:nth-child(1)
			border-bottom black 1px dotted

.about_block
	float left
	margin-top 35px
	margin-bottom 50px

.about_title
	font 14pt/16pt 'Roboto'

.about_description
	margin-top 25px
	font 11pt/15pt 'RobotoL'
	p
		margin 0
	a
		color #000

.description {
	margin-bottom: 25px;
}

.description.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.description.block {
	width: calc(33% - 20px);
	margin-bottom: 0;
}