.main_menu_block
	&:target
		.event.design
			display none

.main_menu_inner
	&:target
		.event.architecture
			display none

.sort_block
	margin 10px 0
	a
		margin-right 10px

.date2017 a
	color #fc0
.date2016 a
	color #988100
.date2015 a
	color #222
.date2014 a
	color #4e4e4e
.date2013 a
	color #757575
.date2012 a
	color #969696
.date2011 a
	color #BFBFBF

.archive
	&:after
		content '●'
		color red