html, body, .maket
	height 100%

body
	overflow hidden
	margin 0
	font-family 'Roboto', Arial, sans-serif

h2
	font 13pt/13pt 'Roboto'
	margin 13px 0

ul
	margin: 10px 0
	padding: 0
	padding-left: 17px

.maket
	width 100%
	margin 0 auto
	position relative
	overflow-y auto
	-webkit-overflow-scrolling touch

.menu_block_outer
	margin-top 20px
	position absolute
	width 100%
	z-index 1000
	@media (min-width: 768px) {
		height 40px
		overflow hidden
	}

.menu_block
	text-align center
	z-index 100
	width 100%

.menu_block_inner
	margin 0 auto
	background-color rgba(255,255,255,0.7)
	height 30px
	padding-left 10px
	width calc(100vw - 20px);
	display flex
	justify-content space-between
	align-items center

	@media (min-width: 768px) {
		max-width 1247px
		min-width 635px
	}

.menu_items
	position absolute
	top 35px
	left: 20px;
	right: 20px;
	bottom: calc(-100vh + 70px);
	background rgba(0, 0, 0, 0.88)
	display none
	align-items center
	a
		margin 30px 22px
		font 11pt/13pt 'Roboto'
		display block
		text-decoration none
		color #fff
		border-bottom 1px solid transparent
		&:hover
			border-bottom #fff 1px dotted
		@media (min-width: 768px) {
			display inline-block
			margin 0 22px 4px
			color #000
			&:hover {
				border-bottom #000 1px dotted
			}
		}

	@media (min-width: 768px) {
		position static
		text-align center
		white-space nowrap
		background transparent
		display block
	}

a.mobile {
	@media (min-width: 768px) {
		display: none;
	}
}


.menu_items.flex {
	display: flex;
}

.menu_items_inner
	display inline
	margin 0 auto

.logo
	margin-bottom 4px
	margin-right 190px
	width 17px
	height 17px
	background url('/images/design/logo.png') 50%
	background-size cover
	font 11pt/13pt 'Roboto'
	display block
	position relative
	flex: 0 1 17px;

	&:after
		content 'Народный архитектор'
		position absolute
		top 1px
		white-space nowrap
		left 25px
		font 11pt/13pt 'Roboto'
		color #000
		text-align left
	&.logo_eng
		&:after
			content 'NRDN'

a
	&.logo
		display none
		@media (min-width: 768px) {
			display block
		}
		&:hover
			text-decoration none
			&:after
				border-bottom black 1px dotted

span
	&.logo
		@media (min-width: 768px) {
			display none
		}
		&:hover
			text-decoration none
			&:after
				border-bottom black 1px dotted

.content_block
	width 100%
	min-height 200px
	margin-top 80px
	position absolute

.background_works
	width 100%
	height 100%
	position absolute
	-webkit-filter brightness(75%)
	filter brightness(75%)

.background_item
	width 100%
	height 100%
	opacity 0
	position absolute
	background no-repeat center center fixed
	background-size cover
	transition-property opacity
	transition-duration 1s
	transition-timing-function ease-in-out

.toggle_lang_block
	font 9pt/13pt 'Roboto'
	margin-right 7px
	a
		color #000
		text-decoration none
		&:hover
			color #000
			border-bottom black 1px dotted

