.main_block
	height 85%
	@media (min-width: 768px) {
		height auto
	}

.content_block
	text-align center
	-webkit-user-select none
	height: 100%;
	width 100%
	position: relative;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (min-width: 768px) {
		margin-top 15%
		display block
		min-height 200px
		position absolute
	}


.works_block
	width 95%
	margin 0 auto
	color white
	@media (min-width: 430px) {
		width 420px
	}

.work_item
	display none

.work_title
	font 28pt/28pt 'Roboto'
	text-transform uppercase
	border-top 1px solid white
	padding-top 5px
	a
		color white
		text-decoration none
		&:hover
			color white
			text-decoration underline

.work_logo
	width 80px
	height 80px
	display inline-block
	margin-bottom 5px
	cursor default
	svg
	svg *
		fill white!important
		width 80px
		height 80px

.work_tag
	padding-bottom 8px
	font 18pt/20pt 'RobotoT'
	text-transform uppercase
	cursor default

.social_block
	width 110px
	position absolute
	z-index 999
	top 95%
	left 50%
	margin-left -55px
	a
		margin-right 35px
		color white
		text-decoration none
		font 11pt/12pt 'Social'

