.content_column
	&.main
		.content_outer_block
			margin-top 100px
	.content_news_block
		top 51px
		right 120px
		position fixed
		z-index 1000
		.news_item
			color #000
			display inline-block
			overflow hidden
			margin-right 10px
			text-decoration none
			.item_title
			.item_date
				float left
				margin 0 10px
			&:after
				content: '|'
				margin-left 10px
			&:hover
				background #000
				color #fff