.content_block_inner
  max-width 1240px
  margin 0 auto
  min-width 400px

.menu_block
  a
    &:nth-child(4)
      border-bottom black 1px dotted

.post_item_block
  overflow hidden

.post_img
  width 100%
  height auto

.post_title
  width 280px
  font 16pt/18pt 'Roboto'
  color black
  text-transform uppercase
  text-decoration none

.post_body
  max-width 865px
  margin-top 25px
  margin-left 375px
  font 12pt/16pt 'RobotoL'

.post_social
  margin-top 15px
  width 150px

.post_dscription_block
  width 280px
  margin-top 25px
  float left