extends ../layout

block title
	title= __('НАРОДНЫЙ АРХИТЕКТОР')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/index.css' + version)

block content_scripts
	script(type='text/javascript', src='/build/js/index.js' + version)

block append works_bg
	.background_works
		each event in events
			if (event.images[0])
				.background_item(style='background-image: url(' + event.images[0].original + ')')
			else
				.background_item(style='background-color:#eee')

block content
	.works_block
		each event in events
			.work_item
				.work_logo!= event.videos[0]
				.work_tag= 'ew'
				.work_title= event.i18n.title.get(locale)

block footer
	.social_block
		a(href='https://www.facebook.com/nrdnru', target='_blank') 
		a(href='http://vk.com/narodnij', target='_blank') 
		a(href='http://instagram.com/narodnij', target='_blank') 