extends ../layout

block title
	title= __('О НАС')
	meta('keywords'='Бюро Народный архитектор, Архитектура, Дизайн')
	meta('description'='Бюро Народный архитектор - команда исследователей, архитекторов и дизайнеров современного городского пространства. Мы проектируем парки, улицы, музеи, жилые дома и многое другое. Разрабатываем системы визуальной навигации, выставки и полиграфию.')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/about.css' + version)


block content
	.content_block_inner
		.about_block
			h1.about_title
				if (locale == 'ru')
					| О НАС
				else
					| ABOUT
			.about_description
				if (locale == 'ru')
					include content/about/ru.html
				else
					include content/about/en.html
