extends ../layout

block title
	title= __('КОНТАКТЫ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/contacts.css' + version)

block content_scripts
	//- script(type='text/javascript', src='http://maps.googleapis.com/maps/api/js?sensor=false')
	//- script(type='text/javascript', src='/build/js/g_maps.js' + version)


block content
	.content_block_inner
		.map_block
			iframe(src="https://yandex.ru/map-widget/v1/-/CCUaMNhakB", width="1240", height="450", frameborder="0")
		.about_block
			h1.about_title
				if (locale == 'ru')
					| НАРОДНЫЙ АРХИТЕКТОР
				else
					| NRDN
			.about_description
				if (locale == 'ru')
					include content/contacts/ru.html
				else
					include content/contacts/en.html
				.social_block
					a(href='https://www.facebook.com/nrdnru', target='_blank') 
					a(href='http://vk.com/narodnij', target='_blank') 
					a(href='http://instagram.com/narodnij', target='_blank') 

		.partners_block
			if (locale == 'ru')
				.partners_title НАШИ ПАРТНЕРЫ
			else
				.partners_title OUR PARTNERS
			.partners_list
				a.patner_item.aqua2.no_rollout(href='http://www.aqualogo-engineering.ru/', target='_blank', style='background-image: url(images/design/partners/partner_1.jpg)')
				a.patner_item.no_rollout(href='http://www.izmailovsky-park.ru/', target='_blank', style='background-image: url(images/design/partners/partner_izm2.png)')
				a.patner_item.no_rollout(href='http://muar.ru/', target='_blank', style='background-image: url(images/design/partners/partner_muar.png)')
				a.patner_item.no_rollout(href='http://sovrhistory.ru/', target='_blank', style='background-image: url(images/design/partners/partner_gcmsir.png); margin-left: 20px;')
				a.patner_item.no_rollout(href='http://kerama-marazzi.com', target='_blank', style='background-image: url(images/design/partners/partner_kerama.png); margin-left: 20px;')
				a.patner_item.no_rollout.roll_opacity(href='http://park-gorkogo.com/', target='_blank', style='background-image: url(images/design/partners/partner_pg.png); margin-left: 20px;')
				a.patner_item.no_rollout.roll_opacity(href='http://std911.ru/', target='_blank', style='background-image: url(images/design/partners/partner_911.png); margin-left: 20px;')
				a.patner_item.no_rollout(href='http://www.world-ocean.ru/', target='_blank', style='background-image: url(images/design/partners/01-min.png)')
				a.patner_item.no_rollout(href='http://azgaz.ru/', target='_blank', style='background-image: url(images/design/partners/02-min.png)')
				a.patner_item.no_rollout.roll_opacity(href='http://www.uar.ru/', target='_blank', style='background-image: url(images/design/partners/03-min.png)')
				a.patner_item.no_rollout.roll_opacity(href='http://sadbaumana.ru/', target='_blank', style='background-image: url(images/design/partners/04-min.png);')
			if (locale == 'ru')
				.partners_title ИНФОРМАЦИОННЫЕ ПАРТНЕРЫ
			else
				.partners_title INFO PARTNERS
			.partners_list
				a.patner_item.prorus.no_rollout(href='http://prorus.net/', target='_blank', style='background-image: url(images/design/partners/partner_8.jpg)')
				a.patner_item.tatlin.no_rollout.roll_opacity(href='https://tatlin.ru/', target='_blank', style='background-image: url(images/design/partners/partner_6.jpg)')
				a.patner_item.no_rollout.roll_opacity(href='http://www.archipeople.ru/', target='_blank', style='background-image: url(images/design/partners/p_ap.png)')
