extends ../layout

block title
	title= __('ПУБЛИКАЦИИ')

block content_style
	link(rel='stylesheet', type='text/css', href='/build/css/publish.css' + version)

block content_scripts
	script(type='text/javascript', src='//e.issuu.com/embed.js', async='true')


block content
	.content_block_inner
		.a_issuuembed
			a(href="museum")
		each magazine in magazines
			.issuuembed(data-configid!= magazine.url)