extends ../layout

block title
	title= __('БЛОГ')

block content_style
	//- link(rel='stylesheet', type='text/css', href='/build/css/blocks_grid.css' + version)
	link(rel='stylesheet', type='text/css', href='/build/css/blog.css' + version)

block content_scripts
	//-script(type='text/javascript', src='/build/libs/js/masonry.pkgd.min.js' + version)
	//-script(type='text/javascript', src='/build/js/news.js' + version)

mixin trimString(str, length)
	if (str.length > length)
		span.body: != str.substr(0, length)
		span.etc ...
		span.hide= str.substr(length, str.length)
	- else
		span.body: != str


block content
	.content_block_inner
		each item in news
			.post_item_block
				a.post_title.main(href='/news/' + item._id)
					img.post_img(src=item.images[0].thumb)
				.post_dscription_block
					a.post_title(href='/news/' + item._id)= item.i18n.title.get(locale)
				.post_body: +trimString(item.i18n.description.get(locale).replace(/(<([^>]+)>)/ig, ''), 100)
		.scroll_top
			.top_text ▲ Наверх