doctype html
html
	head
		link(rel='stylesheet', type='text/css', href='/build/libs/css/fonts.css')
		link(rel='stylesheet', type='text/css', href='/build/css/blog.css')

		script(type='text/javascript', src='/build/libs/js/jquery-1.11.1.min.js')
		script(type='text/javascript', src='/build/js/blog.js')
		- function get_locale(option, lang) {var locale = option.filter(function(locale) { return locale.lg == lang })[0]; if (locale) {return locale.value } else {return ''} }
		block content
			.content_block_inner
				.left
					each item, i in news
						.post_item_block
							each image in item.images
								.content_photo
									.prev_arrow
									.content_image_hover
									.post_img(style='background-image:url(' + (item.images && item.images.length > 0 && image.original) + ')')
									- var description = get_locale(image.description, locale)
									if (description != '')
										.post_title: != description
				.right
					each item, i in news
						a.post_news_titles
							.post_news_title= item.i18n.title.get(locale)


